*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: 'Open Sans',sans-serif;
  color: white;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
  font-family: 'Poppins',sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.app {
  height: 100vh;
  background: #0f0c29;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#24243e), color-stop(#302b63), to(#0f0c29));
  background: linear-gradient(to bottom, #24243e, #302b63, #0f0c29);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 1fr;
      grid-template-columns: 200px 1fr;
}

@media only screen and (max-width: 37.5em) and (min-height: 300px) {
  .app {
    height: auto;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 10vh auto;
        grid-template-rows: 10vh auto;
    overflow-x: hidden;
  }
}

.navigation {
  display: block;
  padding: 1rem 0;
  height: 100%;
  position: relative;
}

@media only screen and (max-width: 37.5em) and (min-height: 300px) {
  .navigation {
    padding: 1rem 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.navigation__user {
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
}

@media only screen and (max-width: 37.5em) and (min-height: 300px) {
  .navigation__user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.navigation__user::after {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background-color: white;
  margin: 1rem auto;
}

@media only screen and (max-width: 37.5em) and (min-height: 300px) {
  .navigation__user::after {
    display: none;
  }
}

.navigation__img {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 auto 1rem auto;
}

@media only screen and (max-width: 37.5em) and (min-height: 300px) {
  .navigation__img {
    margin: 0;
    width: 50px;
    height: 50px;
    margin-right: 1rem;
  }
}

.navigation__list {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  text-align: left;
}

@media only screen and (max-width: 37.5em) and (min-height: 300px) {
  .navigation__list {
    display: none;
  }
}

.navigation__link {
  width: 100%;
  display: inline-block;
  padding: 0.5rem 1rem 0.5rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  -webkit-transition: color 500ms;
  transition: color 500ms;
}

.navigation__link::after {
  content: "";
  width: 5px;
  height: 0%;
  background-color: white;
  position: absolute;
  -webkit-transform-origin: center;
          transform-origin: center;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.navigation__link:hover::after {
  height: 100%;
  background-color: cyan;
}

.navigation__link:hover {
  color: cyan;
}

.navigation__link > * {
  margin: 0 0.5rem;
}

.content {
  background: #141E30;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, right top, left top, from(#243B55), to(#141E30));
  background: linear-gradient(to left, #243B55, #141E30);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: scroll;
}

button {
  border: none;
  background-color: transparent;
  color: currentColor;
  font-size: 1.5rem;
  margin: 0 1rem;
}

button:hover {
  color: cyan;
  cursor: pointer;
}

.genre-list {
  position: absolute;
  top: 13vh;
  right: 14%;
  display: block;
  padding: 2rem;
  text-align: center;
  background: -webkit-gradient(linear, right top, left top, from(#243B55), to(#141E30));
  background: linear-gradient(to left, #243B55, #141E30);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-transition: all 500ms cubic-bezier(0, 0.5, 0, 0.99);
  transition: all 500ms cubic-bezier(0, 0.5, 0, 0.99);
  opacity: 0;
  pointer-events: none;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  z-index: 100;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  color: currentColor;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}

.genre-list .genreBtn {
  padding: 1rem 0;
}

@media only screen and (max-width: 37.5em) and (min-height: 300px) {
  .genre-list {
    top: 25vh;
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}

.searchbox {
  width: 100%;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
  position: relative;
}

.searchbox__input-holder {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  margin-right: 1rem;
}

.searchbox__input {
  border: none;
  background-color: transparent;
  color: currentColor;
  font-size: 1.2rem;
  font-weight: normal;
  padding: 0.5rem;
  padding-left: 2.5rem;
  width: 100%;
  border-radius: 1rem;
  border: 2px solid transparent;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.searchbox__input::-webkit-input-placeholder {
  color: currentColor;
}

.searchbox__input:-ms-input-placeholder {
  color: currentColor;
}

.searchbox__input::-ms-input-placeholder {
  color: currentColor;
}

.searchbox__input::placeholder {
  color: currentColor;
}

.searchbox__input:focus {
  outline: none;
  border: 2px solid cyan;
}

.searchbox__input:focus + * {
  color: cyan;
}

.searchbox__icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 10px;
  font-size: 1.5rem;
}

.movies {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(12rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  justify-items: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  grid-gap: 1rem;
  padding: 1rem;
}

@media only screen and (max-width: 37.5em) and (min-height: 300px) {
  .movies {
    height: auto;
    grid-gap: 2rem;
    overflow: auto;
    justify-items: center;
  }
}

.movie {
  width: 12rem;
  height: 340px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}

.movie__cover {
  width: 100%;
  height: 82%;
  display: block;
}

.movie__name {
  padding: 0.3rem;
  text-align: center;
}

.movie__year {
  text-align: center;
}

.movie__ratings {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  padding-top: 0.5rem;
  text-align: center;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0, 0.5, 0, 0.99);
  transition: -webkit-transform 500ms cubic-bezier(0, 0.5, 0, 0.99);
  transition: transform 500ms cubic-bezier(0, 0.5, 0, 0.99);
  transition: transform 500ms cubic-bezier(0, 0.5, 0, 0.99), -webkit-transform 500ms cubic-bezier(0, 0.5, 0, 0.99);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

.movie__title {
  margin-bottom: 1rem;
}

.movie__text {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  text-align: justify;
  padding: 0 0.5rem;
}

.movie__rate {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.95rem;
}

.movie__rate .star {
  color: cyan;
}

.movie .watch {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #009999;
  padding: 0.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.movie .watch:hover {
  background-color: cyan;
  color: black;
}

.movie:hover .movie__ratings {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.burger {
  display: none;
}

@media only screen and (max-width: 37.5em) and (min-height: 300px) {
  .burger {
    display: block;
    font-size: 1.5rem;
    border: none;
    background: transparent;
    color: currentColor;
    cursor: pointer;
  }
  .burger:hover {
    color: cyan;
  }
}

.mobilenavigation__list {
  left: 0;
  position: absolute;
  top: 10vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#24243e), color-stop(#302b63), to(#0f0c29));
  background: linear-gradient(to bottom, #24243e, #302b63, #0f0c29);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  z-index: 1000;
  justify-items: center;
  padding: 2rem 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  display: none;
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0, 0.5, 0, 0.99);
  transition: -webkit-transform 500ms cubic-bezier(0, 0.5, 0, 0.99);
  transition: transform 500ms cubic-bezier(0, 0.5, 0, 0.99);
  transition: transform 500ms cubic-bezier(0, 0.5, 0, 0.99), -webkit-transform 500ms cubic-bezier(0, 0.5, 0, 0.99);
}

@media only screen and (max-width: 37.5em) and (min-height: 300px) {
  .mobilenavigation__list {
    display: -ms-grid;
    display: grid;
  }
}

.mobilenavigation__list .navigation__link {
  padding: 1rem;
}

.modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.popup {
  width: 80%;
  height: 80%;
  background-color: black;
  padding: 1rem 3rem;
  color: currentColor;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35% 1fr;
      grid-template-columns: 35% 1fr;
  position: relative;
  grid-gap: 1rem;
}

@media only screen and (max-width: 37.5em) and (min-height: 300px) {
  .popup {
    width: 100%;
    height: 100%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.popup__cover {
  height: 100%;
  overflow: hidden;
}

@media only screen and (max-width: 37.5em) and (min-height: 300px) {
  .popup__cover {
    height: 250px;
  }
}

.popup__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

@media only screen and (max-width: 37.5em) and (min-height: 300px) {
  .popup__img {
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.popup__text {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.2rem;
}

@media only screen and (max-width: 37.5em) and (min-height: 300px) {
  .popup__text {
    margin-bottom: 1rem;
    word-break: break-all;
  }
}

@media only screen and (max-width: 37.5em) and (min-height: 300px) {
  .popup__title {
    font-size: 90%;
  }
}

.popup__buttons {
  margin-top: auto;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  -ms-grid-row-align: end;
      align-self: end;
}

.popup__watch, .popup__fav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #009999;
  padding: 0.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  text-align: center;
  font-size: 2rem;
}

.popup__watch:hover, .popup__fav:hover {
  background-color: cyan;
  color: black;
}

.popup__summary {
  margin-top: 1rem;
  text-align: justify;
}

.popup .buttons {
  position: absolute;
  z-index: 999;
}

.popup .prev {
  top: 50%;
  left: 0;
}

.popup .next {
  top: 50%;
  right: 0;
}

.popup .close {
  top: 5px;
  right: -5px;
}

.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.open {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.light {
  background-image: -webkit-gradient(linear, left top, right top, from(#FFFFFF), to(#FFEFBA)) !important;
  background-image: linear-gradient(to right, #FFFFFF, #FFEFBA) !important;
  color: black;
}

.showModal {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: scale(1);
          transform: scale(1);
}
/*# sourceMappingURL=style.css.map */