.bookmark{
    width: 300px;
    background: linear-gradient(to left, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 1rem;
    border-radius: 5px;
    color: currentColor;
    position: absolute;
    top: 13vh;
    right: 0rem;
    z-index: 9999;
    opacity: 0 ;
    pointer-events: none;
    transform: scale(0);
    transition: 500ms ease;
    transform-origin: top;
    &__item{
        width: 100%;
        display: grid;
        grid-template-columns:1fr max-content;
        align-items: center;
        display: none;
    }

    &__title{
        font-size: 1.5rem;
    }

    &__head{
        text-align: center;
        text-transform: uppercase;
    }
}