// mobile nav{

    .burger{
        display:none;

        @include query(cp){
            display: block;
            font-size: 1.5rem;
            border: none;
            background: transparent;
            color: currentColor;
            cursor: pointer;

            &:hover{
                color: cyan;
            }

        }
    }

.mobilenavigation__list{
    left: 0;
    position: absolute;
    top: 10vh;
    width: 100%;
    background: linear-gradient(to bottom, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    z-index: 1000;
    justify-items:center;
    padding: 2rem 0;
    transform: translateX(100%);
    display: none;
    transition: transform 500ms cubic-bezier(0,.5,0,.99);

    @include query(cp){
        display:grid;
    }

    .navigation__link{
        padding: 1rem;
    }
}